.idea/
docker/mysql/
www/composer.lock
www/composer.phar
www/vendor/
www/public/assets/images
www/tmp/error.log
www/public/assets/bootstrap-5.3.3-dist/
www/app/Controllers/Admin/Test.php
www/app/Views/admin/test.php